<!-- student.edit.html.erb -->

<h2>Edit Student Profile</h2>
<%= link_to "Back", students_path %>


<%= form_for(@student) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:email) %>
  <%= f.text_field(:email) %>
  <%= f.label(:phone_number) %>
  <%= f.text_field(:phone_number) %>
  <%= f.fields_for :student_profile, @student.student_profile do |s| %>
    <%= s.label :students_school%>
    <%= s.text_field (:students_school) %>
    <%= s.label :class_of %>
    <%= s.text_field (:class_of) %>
  <% end %>

  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation) %>
  <%= f.submit %>
<% end %>

