<!-- students.index.html.erb -->



<% if student_logged_in? %>

  <h1>Welcome <%= current_student.name.capitalize %></h1>
    <%= link_to "Home", root_path %>
<br>
<br>

    <%= link_to "View Tutors", tutors_path %><br>

<br>
    <a href="/appointments/new"> Make an Appointment</a><br>


    <%= link_to "View Appointments", appointments_path(current_student) %>
<!-- I'm going to want this to be a specific students route -->

<br><br>
    <%= link_to "Edit Student Profile", edit_student_path(current_student) %>
<br>
      <%= link_to "View Student Profile", student_path(current_student) %>
<br><br><br>
      <%= link_to "Delete My Account", student_path(current_student), method: :delete, confirm: "Are you sure?" %>


    <% else %>
<!-- from home page, when see students is clicked -->
    <%= link_to "Home", root_path %>

    <ul>
      <% @students.each do |student| %>
        <li><br><strong>Name:</strong> <%= student.name%>, <strong>Email:</strong> <%= student.email %>, <strong>Phone:</strong> <%= student.phone_number %>  <strong>Class of:</strong> <%= student.student_profile.class_of %> <strong>School:</strong> <%= student.student_profile.students_school %>
</li>
      <% end %>
    </ul>


  <% end %>

