<!-- student.show.html.erb -->

<!-- accessed from student dashboard, view profile -->

<h1>Your Student Profile</h1>
<%= link_to "Back", students_path %>
<br>

<p>
  Name : <%= current_student.name %> <br>
  Email : <%= current_student.email %> <br>
  Phone : <%= current_student.phone_number %> <br>
  Type : <%= current_student.type %> <br>
<br>

  Current School : <%= current_student.student_profile.students_school %>
  <strong>Class of :</strong> <%= current_student.student_profile.class_of %>
</p>


