<!-- tutors.index.html.erb -->


<% if tutor_logged_in? %>
<!-- VIEW OF TUTORS DASHBOARD -->
  <h1>Welcome <%= current_tutor.name.capitalize %></h1>
    <%= link_to "Home", root_path %>
<br>
<br>
 <a href="/appointments/new"> Make an Appointment</a><br>
<br>
    <%= link_to "View Your Tutoring Appointments", appointments_path(current_tutor) %>
<br><br>
    <%= link_to "Edit Tutor Profile", edit_tutor_path(current_tutor) %>
<br>
      <%= link_to "View Tutor Profile", tutor_path(current_tutor) %>
<br>
<br>
      <%= link_to "Delete my Account", tutor_path(current_tutor), method: :delete, confirm: "Are you sure?" %>

<% elsif student_logged_in?%>
    <%= link_to "back", students_path %>
<!-- VIEW OF VIEW TUTORS LINK FROM STUDENTS DASHBOARD>YOU CAN SELECT AND VIEW A SPECIFIC TUTORS PROFILE -->
  <h2>Student: <%= current_student.name.capitalize %> <br> currently logged in</h2>
    <ul>
    <% @tutors.each do |tutor| %>
        <li>
          <br><strong>Name:</strong> <%= tutor.name%>, <strong>Email:</strong> <%= tutor.email %>, <strong>Phone:</strong> <%= tutor.phone_number %> <strong>Hometown:</strong> <%= tutor.tutor_profile.hometown %> <strong>Tutor's School:</strong> <%= tutor.tutor_profile.tutors_school %> <strong>Tutor's Course:</strong> <%= tutor.tutor_profile.tutors_course %>

            <%= link_to "Select Tutor", tutor_path(tutor) %>
        </li>
    <% end %>


  <% else %>

  <!-- VIEW FROM THE HOMEPAGE WHEN NO ONE IS LOGGED IN. VIEW TUTORS LINK -->
    <%= link_to "Home", root_path %>

    <ul>
    <% @tutors.each do |tutor| %>
        <li>
          <br><strong>Name:</strong> <%= tutor.name%>, <strong>Email:</strong> <%= tutor.email %>, <strong>Phone:</strong> <%= tutor.phone_number %> <strong>Hometown:</strong> <%= tutor.tutor_profile.hometown %> <strong>Tutor's School:</strong> <%= tutor.tutor_profile.tutors_school %> <strong>Tutor's Course:</strong> <%= tutor.tutor_profile.tutors_course %>
        </li>
    <% end %>
    </ul>

 <% end %>
