<!-- tutors.new.html.erb -->

<h2>Tutor </h2>
<h4>Registration </h4>

<% if admin_logged_in? %>
  <%= link_to "Admin Dash", admins_path %>
  <% else %>
  <%= link_to "Home", root_path %>
<% end %>


<br>
<br>

<%= form_for(@tutor) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:email) %>
  <%= f.text_field(:email) %>
  <%= f.label(:phone_number) %>
  <%= f.text_field(:phone_number) %>
  <%= f.fields_for :tutor_profile, @tutor.build_tutor_profile do |s| %>
    <%= s.label :hometown %>
    <%= s.text_field :hometown %>
    <%= s.label :tutors_school %>
    <%= s.text_field :tutors_school %>
    <%= s.label :tutors_course %>
    <%= s.text_field :tutors_course %>
  <% end %>

  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation) %>
  <%= f.submit %>
<% end %>
