<!-- tutors.show.html.erb -->

<h1>Your Tutor Profile</h1>

  <%= link_to "back", tutors_path %>

<br>

<p>
  Name : <%= current_tutor.name %> <br>
  Email : <%= current_tutor.email %> <br>
  Phone : <%= current_tutor.phone_number %> <br>
  Type : <%= current_tutor.type %> <br>
</p>
