<!-- tutors.show.html.erb -->


<% if tutor_logged_in? %>
<!-- TUTOR VIEW OF A TUTORS INDIVIDUAL PROFILE -->

  <h1>Your Tutor Profile</h1>
  <%= link_to "Back", tutors_path %>
  <br>



<% elsif student_logged_in?%>
<!-- STUDENT VIEW OF A TUTORS INDIVIDUAL PROFILE -->
<h1>You've selected: <%= @tutor.name.capitalize %> </h1>
  <%= link_to "Back", tutors_path %>
  <br>


<% end %>


  <p>
    Name : <%= @tutor.name %> <br>
    Email : <%= @tutor.email %> <br>
    Phone : <%= @tutor.phone_number %> <br>

    Hometown : <%= @tutor_profile.hometown %> <br>
<br>
    Tutor's School: <%= @tutor_profile.tutors_school %> <br>
    Tutor's Course: <%= @tutor_profile.tutors_course %> <br>
  </p>
