users.new.html.erb

<h2>USER </h2>
<h4>Registration </h4>
<%= link_to "Back", root_path %>

<br>
<br>
<%= form_for(@user) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:email) %>
  <%= f.text_field(:email) %>
  <%= f.label(:phone_number) %>
  <%= f.text_field(:phone_number) %>
  <%= f.label(:account_type) %>
  <%= f.text_field(:account_type) %>
<br>
  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation) %>
  <%= f.submit %>
<% end %>
